<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookadaisical</title>
</head>
<body>
    <!-- <div class="login-or-signin-box">
        <div class="register-dialog-box">
            <form class="register-account-form" (ngSubmit)="submitRegisterAccountForm()" #registerAccountForm="ngForm">
                <input type="text" name="inputField" [(ngModel)]="formData.inputField">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div> -->
    <!-- <button (click)="showPopup()">{{ popupButtonText }}</button> -->
    <app-login-popup></app-login-popup>
</body>
</html>
