<div class="account-settings-popup-background"
    *ngIf="isAccountSettingsPopupVisible"
    (click)="closePopup($event)">
    <div class="account-settings-popup-main">
        <div class="account-settings-popup-main-container">
            <div class="change-account-settings-container">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Change username
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form
                            (ngSubmit)="submitChangeUsernameForm()"
                            [formGroup]="changeUsernameFormData"
                            class="update-personal-info-form">
                            <mat-form-field appearance="fill">
                                <mat-label>New username</mat-label>
                                <input formControlName="username" matInput placeholder="someUsername">
                                @if ( changeUsernameFormData.get('username')?.hasError('required') ) {
                                    <mat-error>Please fill the input field</mat-error>
                                }
                                @if ( changeUsernameFormData.get('username')?.hasError('minlength') ) {
                                    <mat-error>Username must be at least 6 characters long</mat-error>
                                }
                            </mat-form-field>
    
                            <button
                                class="form-button"
                                color="primary"
                                mat-raised-button>
                                Change
                            </button>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Change email
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form
                            (ngSubmit)="submitChangeEmailForm()"
                            [formGroup]="changeEmailFormData"
                            class="update-personal-info-form">
                            <mat-form-field appearance="fill">
                                <mat-label>New email</mat-label>
                                <input formControlName="email" matInput placeholder="someUsername">
                                @if ( changeEmailFormData.get('email')?.hasError('required') ) {
                                    <mat-error>Please fill the input field</mat-error>
                                }
                                @if ( changeEmailFormData.get('email')?.hasError('email') ) {
                                    <mat-error>Invailid email format</mat-error>
                                }
                            </mat-form-field>
    
                            <button
                                class="form-button"
                                color="primary"
                                mat-raised-button>
                                Change
                            </button>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>

                <!-- <div class="change-account-settings">
                    <button>change profile picture</button>
                </div> -->

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Change password
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form
                            (ngSubmit)="submitChangePasswordForm()"
                            [formGroup]="changePasswordFormData"
                            class="update-personal-info-form">
                            <mat-form-field appearance="fill">
                                <mat-label>New password</mat-label>
                                <input formControlName="password" matInput placeholder="some.Str0ngPassword" [type]="hidePassword ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                @if (changePasswordFormData.get('password')?.hasError('required') ) {
                                    <mat-error>Please fill the input field</mat-error>
                                }
                                @if (changePasswordFormData.get('password')?.hasError('minLength') && changePasswordFormData.get('password')?.touched) {
                                    <mat-error>Use at least 8 characters.</mat-error>
                                }
                                @if (changePasswordFormData.get('password')?.hasError('uppercase') && changePasswordFormData.get('password')?.touched) {
                                    <mat-error>Use at least 1 uppercase character.</mat-error>
                                }
                                @if (changePasswordFormData.get('password')?.hasError('lowercase') && changePasswordFormData.get('password')?.touched) {
                                    <mat-error>Use at least 1 lowercase character.</mat-error>
                                }
                                @if (changePasswordFormData.get('password')?.hasError('number') && changePasswordFormData.get('password')?.touched) {
                                    <mat-error>Use at least 1 number.</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Confirm new password</mat-label>
                                <input formControlName="confirmPassword" matInput placeholder="" [type]="hideConfirmPassword ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                @if (changePasswordFormData.get('confirmPassword')?.hasError('required') ) {
                                    <mat-error>Please fill the input field</mat-error>
                                }
                                @if (changePasswordFormData.get('confirmPassword')?.hasError('mismatch') && changePasswordFormData.get('confirmPassword')?.touched) {
                                    <mat-error>Passwords should match.</mat-error>
                                }
                            </mat-form-field>
    
                            <button
                                class="form-button"
                                color="primary"
                                mat-raised-button>
                                Change
                            </button>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
