<div class="account-settings-popup-background"
    *ngIf="isAccountSettingsPopupVisible"
    (click)="closePopup($event)">
    <div class="account-settings-popup-main-container">
        <div class="change-account-settings-container">
            <div class="change-account-settings">
                <button (click)="triggerUsernameForm()">change username</button>
                <div
                    class="change-username-form-container"
                    *ngIf="isChangeUsernameFormVisible">
                    <form class="change-username-form" (ngSubmit)="submitChangeUsernameForm()" #changeUsernameForm="ngForm" [formGroup]="changeUsernameFormData">
                        <label for="username">Username</label>
                        <input type="text" name="username" formControlName="username">
                        <div *ngIf="changeUsernameFormData.get('username')?.hasError('required') && changeUsernameFormData.get('username')?.touched">
                            Username is required.
                        </div>
                        <div *ngIf="changeUsernameFormData.get('username')?.hasError('minlength') && changeUsernameFormData.get('username')?.touched">
                            Username must be at least 6 characters long.
                        </div>
                        <button>
                            Change</button>
                    </form>
                </div>
            </div>
            <div class="change-account-settings">
                <button (click)="triggerEmailForm()">change email</button>
                <div
                    class="change-email-form-container"
                    *ngIf="isChangeEmailFormVisible">
                    <form class="change-email-form" (ngSubmit)="submitChangeEmailForm()" #changeEmailForm="ngForm" [formGroup]="changeEmailFormData">
                        <label for="email">Email</label>
                        <input type="text" name="email" formControlName="email">
                        <div *ngIf="changeEmailFormData.get('email')?.hasError('required') && changeEmailFormData.get('email')?.touched">
                            Email is required.
                        </div>
                        <div *ngIf="changeEmailFormData.get('email')?.hasError('email') && changeEmailFormData.get('email')?.touched">
                            Invailid email format.
                        </div>
                        <button>
                            Change</button>
                    </form>
                </div>
            </div>
            <div class="change-account-settings">
                <button>change profile picture</button>
            </div>
            <div class="change-account-settings">
                <button (click)="triggerPasswordForm()">change password</button>
                <div
                    class="change-password-form-container"
                    *ngIf="isChangePasswordFormVisible">
                    <form class="change-password-form" (ngSubmit)="submitChangePasswordForm()" #changePasswordForm="ngForm" [formGroup]="changePasswordFormData">
                        <label for="password">Password</label>
                        <input [type]="passwordInputType" name="password" formControlName="password">
                        <div *ngIf="changePasswordFormData.get('password')?.hasError('required') && changePasswordFormData.get('password')?.touched">
                            Password is required.
                        </div>
                        <div *ngIf="changePasswordFormData.get('password')?.hasError('pattern') && changePasswordFormData.get('password')?.touched">
                            <p>Password must:</p>
                            <ul>
                                <li>be at least 8 characters long</li>
                                <li>contain at least 1 upper case character</li>
                                <li>contain at least 1 lower case character</li>
                                <li>contain at least 1 number</li>
                            </ul>
                        </div>
                        <label for="confirmPassword">Confirm password</label>
                        <input [type]="passwordInputType" name="confirmPassword" formControlName="confirmPassword">
                        <div *ngIf="changePasswordFormData.hasError('mismatch') && changePasswordFormData.get('confirmPassword')?.touched">
                            Passwords do not match.
                        </div>
                        <div class="register-form-show-password-container">
                            <label for="showPassword">Show password</label>
                            <input type="checkbox" name="showPassword" (change)="togglePasswordVisibility()">
                        </div>
                        <button>
                            Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
