<div class="account-settings-popup-background"
    *ngIf="isAccountSettingsPopupVisible"
    (click)="closePopup($event)">
    <div class="account-settings-popup-main-container">
        <div class="change-account-settings-container">
            <div class="change-account-settings">
                <button (click)="triggerUsernameForm()">change username</button>
                <div
                    class="change-username-form-container"
                    *ngIf="isChangeUsernameFormVisible">
                    <form class="change-username-form" (ngSubmit)="submitChangeUsernameForm()" #changeUsernameForm="ngForm" [formGroup]="changeUsernameFormData">
                        <label for="username">Username</label>
                        <input type="text" name="username" formControlName="username">
                        <div *ngIf="changeUsernameFormData.get('username')?.hasError('required') && changeUsernameFormData.get('username')?.touched">
                            Username is required.
                        </div>
                        <div *ngIf="changeUsernameFormData.get('username')?.hasError('minlength') && changeUsernameFormData.get('username')?.touched">
                            Username must be at least 6 characters long.
                        </div>
                        <button>
                            Change</button>
                    </form>
                </div>
            </div>
            <div class="change-account-settings">
                <button>change email</button>
            </div>
            <div class="change-account-settings">
                <button>change profile picture</button>
            </div>
            <div class="change-account-settings">
                <button>change password</button>
            </div>
        </div>
    </div>
</div>
