<mat-card class="book-preview-card">
    <mat-card-header class="book-preview-card-header">
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
    </mat-card-header>
    <img
        mat-card-image
        src="data:image/png;base64, {{ book.images[0] }}"
        alt="{{ book.title }}"
        class="book-preview-card-image">
    <mat-card-content class="book-preview-card-content">
        <p>
          {{ book.description }}
        </p>
    </mat-card-content>
    <mat-card-actions class="book-preview-card-actions">
        <button mat-button [routerLink]="['/books', book.id]">
            <mat-icon>info</mat-icon>
            Details</button>
    </mat-card-actions>
</mat-card>
