<div class="login-popup-content" *ngIf="isLoginPopupVisible">
    <form class="login-form" (ngSubmit)="submitLoginForm()" #loginForm="ngForm">
        <div class="login-form-input-container">
            <label for="identifier">Username or email</label>
            <input type="text" name="identifier" [(ngModel)]="loginFormData.identifier" required #identifier="ngModel">
        </div>
        <div class="login-form-input-container">
            <label for="password">Password</label>
            <input [type]="passwordInputType" name="password" [(ngModel)]="loginFormData.password" #password="ngModel">
        </div>
        <div class="login-form-show-password-container">
            <label for="showPassword">Show password</label>
            <input type="checkbox" name="showPassword" (change)="togglePasswordVisibility()">
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="dont-have-account-box">
        <div class="dont-have-account-content">
            <p>Don't have account?</p>
            <button (click)="showRegisterPopup()">Create one!</button>
        </div>
    </div>
</div>
