<div class="login-popup-content" *ngIf="isLoginPopupVisible">
    <form
        class="login-form"
        (ngSubmit)="submitLoginForm()"
        #loginForm="ngForm"
        [formGroup]="loginFormData">

        <mat-form-field appearance="outline" class="login-form-input-field">
            <mat-label>Username or email</mat-label>
            <input
                formControlName="identifier"
                matInput
                placeholder="some@mail.example"
                required="true"
                (ngModelChange)="updateIdentificatorError()">
            @if (errors.wrongIdentificator) {
                <mat-error>Username or email not found.</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
                matInput
                [type]="isPasswordHidden ? 'password' : 'text'"
                required="true"
                formControlName="password"
                (ngModelChange)="updatePasswordError()">
            <button
                mat-icon-button
                matSuffix
                (click)="isPasswordHidden = !isPasswordHidden"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordHidden">
                <mat-icon>
                    {{isPasswordHidden ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            @if (errors.wrongPassword) {
                <mat-error>Wrong password.</mat-error>
            }
        </mat-form-field>

        <mat-slide-toggle
            class="login-form-remember-me-slider"
            formControlName="rememberMe">
            Remember me
        </mat-slide-toggle>
        <button
            class="login-form-submit-button"
            mat-raised-button
            type="submit">
            Submit
        </button>
    </form>
    <mat-divider></mat-divider>
    <div class="dont-have-account-box">
        <div class="dont-have-account-content">
            <p>Don't have an account yet?</p>
            <button
                mat-button
                (click)="showRegisterPopup()">
                Create one!
            </button>
        </div>
    </div>
</div>
