.login-popup-content
{
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    flex-direction: column;
    padding: 20px;
    padding: 3vh 4vw;
}

.login-form
{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-input-field
{
    width: 100%;
}

.login-form-remember-me-slider,
.login-form-submit-button
{
    margin: 2vh 0;
}
.dont-have-account-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dont-have-account-content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: black;
}

.dont-have-account-content p
{
    text-align: center;
    font-size: 1vw;
    margin: 0 !important;
    margin-right: 1vw;
}
