@font-face {
    font-family: 'LoraItalic';
    src: url('../../../assets/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-container
{
    width: 100%;
    background-color: saddlebrown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-container > div
{
    width: 100%;
}

.navbar-pages
{
    justify-content: left;
}

.navbar-title
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-title > span
{
    cursor: pointer;
    color: white;
    font-family: 'LoraItalic';
    font-size: 2rem;
    font-weight: bold;
}

.navbar-options
{
    justify-content: right;
}

.navbar-button
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button:hover
{
    background-color: rgb(156, 94, 49);
}

.mat-icon
{
    margin: 0 !important;
}

.navbar-buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white !important;
}

.navbar-buttons *
{
    margin: 0px 0.7vw;
}
