.register-popup-content
{
    width: 25vw;
    /* height: 50vh; */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    flex-direction: column;
    padding: 20px;
}

.register-form
{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.register-form-input-container
{
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.dont-have-account-box
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dont-have-account-content
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.dont-have-account-content p
{
    text-align: center;
}

.register-form-input-field
{
    width: 100%;
}

.register-form-remember-me-slider,
.register-form-submit-button
{
    margin-bottom: 3vh;
}
