<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookadaisical</title>
</head>
<body>
    <app-navbar></app-navbar>
    <app-account-settings-popup
        [isAccountSettingsPopupVisible]="isAccountSettingsPopupVisible"
        (closeAccountSettingsPopup)="closeAccountSettingsPopup()"
        [user]="user"
        ></app-account-settings-popup>
    <h1>{{ user?.username }}</h1>
    <div class="account-page-main-container" mat-drawer-container>
        <div class="user-details-container">
            <div class="user-account-details-container">
                <div class="user-email">
                    <p>Email: {{ user?.email }}</p>
                </div>
                <div class="user-points-details">
                    <p>Current points: {{ user?.currentPoints }}</p>
                    <p>Total points: {{ user?.totalPoints }}</p>
                    <p>Special currecny: {{ user?.specialCurrency }}</p>
                </div>
            </div>
            <button
                mat-raised-button
                extended
                color="primary"
                class="user-more-details-account"
                *ngIf="isVisitorTheOwner"
                (click)="openAccountSettingsPopup()">
                <mat-icon>info</mat-icon>
                Details</button>
            <button
                mat-raised-button
                extended
                type="button"
                *ngIf="user?.username !== visitor?.username"
                (click)="drawer.toggle()">
                <mat-icon>message</mat-icon>
                Message</button>
            <div class="user-statistics-container">
            </div>
        </div>
        <mat-drawer-container autosize></mat-drawer-container>
        <mat-drawer #drawer class="chat-sidebar" mode="push" position="end">
            <app-chat *ngIf="user !== null && visitor !== null" [receiver]="getUser()" [sender]="getVisitor()"></app-chat>
        </mat-drawer>
        <div class="user-history-detials">

        </div>
    </div>
</body>
</html>
