<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookadaisical</title>
</head>
<body>
    <div class="body-header">
    </div>
    <div class="content">
        <div class="filter-fields-container">
        
            <form class="filter-fields" [formGroup]="filterForm">            
                    <label style="height: 10px;">Genres</label>
                    <p-multiSelect
                        inputId="float-label"
                        [options]="genreOptions"
                        formControlName="genre"
                        (onChange)="updateBookList()"
                        [filter]="true"
                        [showToggleAll]="false"
                        display="chip" 
                        [showClear]="true"
                        placeholder="Select genres"
                    ></p-multiSelect>
                    
                <mat-form-field>
                    <mat-label>Target audience</mat-label>
                    <mat-select
                        (selectionChange)="updateBookList()"
                        formControlName="targetAudience">
                        <mat-option
                        *ngFor="let targetAudience of targetAudienceOptions"
                            [value]="targetAudience">
                            {{ (targetAudience.charAt(0) + targetAudience.slice(1).toLowerCase()).split('_').join(' ') }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Artistic movement</mat-label>
                    <mat-select
                        (selectionChange)="updateBookList()"
                        formControlName="artisticMovement">
                        <mat-option
                            *ngFor="let artisticMovement of artisticMovementOptions"
                            [value]="artisticMovement">
                            {{ (artisticMovement.charAt(0) + artisticMovement.slice(1).toLowerCase()).split('_').join(' ') }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Condition</mat-label>
                    <mat-select
                        (selectionChange)="updateBookList()"
                        formControlName="condition">
                        <mat-option
                            *ngFor="let condition of conditionOptions"
                            [value]="condition">
                            {{ (condition.charAt(0) + condition.slice(1).toLowerCase()).split('_').join(' ') }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Author</mat-label>
                    <mat-select
                        (selectionChange)="updateBookList()"
                        formControlName="author">
                        <mat-option
                            [value]="''">
                            All
                        </mat-option>
                        <mat-option
                            *ngFor="let author of authors"
                            [value]="author">
                            {{ author }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="example-label-container">
                    <label id="example-name-label" class="example-name-label">From </label>
                    <label class="example-value-label">{{filterForm.getRawValue().yearOfPublicationNotLessThen}}</label>
                    <label id="example-name-label" class="example-name-label">To </label>
                    <label class="example-value-label">{{filterForm.getRawValue().yearOfPublicationNotBiggerThen}}</label>
                </div>

                <mat-slider
                    (input)="updateBookList()"
                    min="1800"
                    max="2023">
                    <input formControlName="yearOfPublicationNotLessThen" matSliderStartThumb>
                    <input formControlName="yearOfPublicationNotBiggerThen" matSliderEndThumb>
                </mat-slider>

                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input
                        matInput
                        placeholder="Search"
                        formControlName="contains"
                        (change)="updateBookList()">
                </mat-form-field>

            </form>
        </div>
        <div class="books-container">
            <div class="books" *ngFor="let book of books">
                <app-book-preview
                    [book]="book">
                </app-book-preview>
            </div>
        </div>
    </div>
</body>
</html>
