/* You can add global styles to this file, and also import other style files */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    min-height: 100vh;
}

body
{
    top: 10%;
    height: 90%;
}

::-ms-reveal
{
    /* Disable browsers' default show password option */
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.clickable
{
    cursor: pointer;
    transition: 0.05s;
}

.clickable:hover
{
    color: grey;
}
