.negotiation-main-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    border: 1px solid grey;
    box-shadow: -0px 5px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.user-books
{
    width: 48%;
    height: 90%;
    border: 1px solid red;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.user-books-header
{
    width: 100%;
    height: 10%;
    border: 1px solid blue;
}

.user-books-content
{
    width: 100%;
    height: 90%;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 2fr));
    grid-template-rows: repeat(1fr, 1fr);
    grid-gap: 5%;
    padding: 10px;
    overflow-y: scroll;
}

.user-books-item
{
    width: 100%;
    height: 30vh;
}