<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookadaisical</title>
</head>
<body>
    <app-navbar></app-navbar>
    <app-problem-popup
        [isVisible]="problem.exists"
        [message]="problem.message"
        (closePopupEvenet)="closeProblemPopup()">
    </app-problem-popup>
    <div class="negotiation-main-container">
        <div class="negotiation-books-container">
            <div class="user-books">
                <div class="user-books-header">
                    <h2>Initiator: {{ initiatorUsername }}</h2>
                </div>
                <div class="user-books-content" >
                    <app-book-preview
                        class="user-books-item"
                        *ngFor="let item of initiatorItems"
                        [book]="item.book"
                        [class.selectedInitiatorBook]="item.selected"
                        (click)="selectBook(item)">
                    </app-book-preview>
                </div>
            </div>
            <div class="user-books">
                <div class="user-books-header">
                    <h2>Responder: {{ responderUsername }}</h2>
                </div>
                <div class="user-books-content">
                    <div
                        class="user-books-item"
                        *ngFor="let item of responderItems"
                        [class.selectedResponderBook]="item.selected"
                        (click)="selectBook(item)">
                        <app-book-preview
                            [book]="item.book">
                        </app-book-preview>
                        <button (click)="openBookInNewTab(item.book.id)">Details</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="negotiation-buttons-container">
            <button>Not interested anymore</button>
            <button>Accept offer</button>
            <button (click)="sendOffer()">Send offer</button>
        </div>
    </div>
</body>
</html>
