<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookadaisical</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="negotiation-main-container">
        <div class="user1-books user-books">
            <div class="user-books-header">
                <h2>Initiator id: {{ initiatorId }}</h2>
            </div>
            <div class="user-books-content" >
                <app-book-preview class="user-books-item" *ngFor="let item of initiatorItems" [book]="item.book"></app-book-preview>
            </div>
        </div>
        <div class="user2-books user-books">
            <div class="user-books-header">
                <h2>Responder id: {{ responderId }}</h2>
            </div>
            <div class="user-books-content">
                <app-book-preview class="user-books-item" *ngFor="let item of responderItems" [book]="item.book"></app-book-preview>
            </div>
        </div>
    </div>
</body>
</html>
