<app-problem-popup
    [isVisible]="problem.exists"
    [message]="problem.message"
    (closePopupEvenet)="closeProblemPopup()">
</app-problem-popup>
<div class="negotiation-main-container">
    <div class="negotiation-status-container">
        <h2>Status: {{ negotiationStatus }}</h2>
    </div>
    <div class="negotiation-books-container">
        <div class="user-books">
            <div class="user-books-header">
                <h2>Initiator: {{ initiatorUsername }}</h2>
            </div>
            <div class="user-books-content" >
                <app-book-preview
                    class="user-books-item"
                    *ngFor="let item of initiatorItems"
                    [book]="item.book"
                    [class.selectedInitiatorBook]="item.selected"
                    (click)="selectBook(item)">
                </app-book-preview>
            </div>
        </div>
        <div class="user-books">
            <div class="user-books-header">
                <h2>Responder: {{ responderUsername }}</h2>
            </div>
            <div class="user-books-content">
                <div
                    class="user-books-item"
                    *ngFor="let item of responderItems"
                    [class.selectedResponderBook]="item.selected"
                    (click)="selectBook(item)">
                    <app-book-preview
                        [book]="item.book">
                    </app-book-preview>
                </div>
            </div>
        </div>
    </div>
    <div
        class="negotiation-buttons-container"
        [class.negotiation-buttons-container-single-element]="!anOfferWasMade">
        <button
            *ngIf="anOfferWasMade"
            (click)="cancelNegotiation()">
            Not interested anymore
        </button>
        <button
            [disabled]="!isAcceptable"
            *ngIf="anOfferWasMade && isAcceptableByUser && !isAlreadyAccepted()"
            (click)="acceptOffer()">
            Accept offer
        </button>
        <button
            (click)="sendOffer()">
            Send offer
        </button>
    </div>
</div>
<mat-drawer-container
    autosize>
</mat-drawer-container>
<mat-drawer 
    #drawer
    class="chat-sidebar"
    mode="push"
    position="end">
    <app-chat
        *ngIf="initiatorUsername !== '' && responderUsername !== ''"
        [receiverUsername]="responderUsername"
        [senderUsername]="initiatorUsername"
        [defaultMessage]="getDefaultMessage()"
        (closeChat)="closeChat()">
    </app-chat>
</mat-drawer>
