.popular-books-container
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.popular-books-container > div
{
    padding: 1vh;
}
