<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookadaisical</title>
</head>
<body>
    <app-navbar></app-navbar>
    <app-user-info></app-user-info>
    <div class="popular-books-container">
        <div class="popular-books-content" *ngFor="let book of books">
            <app-book-preview [book]="book" [routerLink]="['/books', book.uniqueId]"></app-book-preview>
        </div>
    </div>
</body>
</html>
