<div class="chat-main-container">
    <div class="message-input-container">
        <form (ngSubmit)="sendMessage()" class="message-input-form">
            <mat-form-field class="message-input-field">
                <mat-label>Message</mat-label>
                <input matInput [(ngModel)]="message" name="message" mexLength="256">
                <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                <mat-hint align="end">{{message.length}} / 256</mat-hint>
            </mat-form-field>
            <div class="message-send-button-container">
                <button mat-mini-fab aria-label="Send message" color="primary" type="submit" class="message-send-button">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>
    </div>
    <div class="message-flow" #messageFlowContainer>
        <mat-card *ngFor="let message of messages.reverse()"
                    class="message-card"
                    [class.sender]="isSender(message)"
                    [class.receiver]="!isSender(message)">
            <mat-card-content>
                {{message.message}}
            </mat-card-content>
            <mat-card-footer align="right">
                <span class="timestamp">{{ message.sentAt | date: 'shortTime' }}</span>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
